<div class="container pt-2">

    <h1 class="text-center"><i class="fas fa-planet-ringed"></i> {{planet?.name}}</h1>
    
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Rotation Period
          <span>{{planet?.rotation_period}}</span>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center">
            Orbit Period
            <span>{{planet?.orbital_period}}</span>
          </li>

          <li class="list-group-item d-flex justify-content-between align-items-center">
            Diameter
            <span>{{planet?.diameter}}</span>
          </li>

          <li class="list-group-item d-flex justify-content-between align-items-center">
            Climate
            <span>{{planet?.climate}}</span>
          </li>

          <li class="list-group-item d-flex justify-content-between align-items-center">
            Terrain
            <span>{{planet?.terrain}}</span>
          </li>

          <li class="list-group-item d-flex justify-content-between align-items-center">
            Surface Water
            <span>{{planet?.surface_water}}</span>
          </li>

          <li class="list-group-item d-flex justify-content-between align-items-center">
            Population
            <span>{{planet?.population}}</span>
          </li>
    </ul>
</div>