.card-header, .card-title, .card-footer {
    font-family: 'Star Jedi', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
  }

  p.card-text {
  font-family: 'Merriweather', serif;
  }