<div class="container pt-4">
  <div class="card text-center">
    <div class="card-header">Episode {{ film?.episode_id }}</div>
    <div class="card-body">
      <h3 class="card-title">{{ film?.title }}</h3>
      <p class="card-text">{{ film?.opening_crawl }}</p>
      <a href="#" class="btn btn-primary">
        <i class="fas fa-camera-movie mr-2"></i>
        {{ film?.director }}</a
      >
    </div>
    <div class="card-footer">
      {{ film?.release_date | date: 'longDate' }}
    </div>
  </div>
</div>
