<div class="container pt-4">
  <h1 class="text-center">
    <i class="fas fa-film"></i>
    Films
  </h1>

  <div class="list-group" *ngFor="let film of films">
    <a
    [routerLink]="['/films', film?.episode_id]"
      class="list-group-item list-group-item-action flex-column align-items-start"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ film?.title }}</h5>
        <small>{{ film?.release_date | date: 'longDate' }}</small>
      </div>
      <p class="mb-1">{{ film?.opening_crawl }}</p>
      <small>{{ film?.director }}</small>
    </a>
  </div>
</div>
