:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron {
  // font-family: 'Quantico', sans-serif;
  font-size: 12px;
  background-image: url('/assets/images/jumbotron(2).jpg');
  background-position: 0 45%;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  padding-top: 10%;
  padding-bottom: 10%;
  text-shadow: black 0.2em 0.2em 0.2em;
}

.jumbotron-heading {
  font-weight: 300;
  font-size: 39px;
}

.jumbotron .container {
  max-width: 40rem;
}

.items {
  justify-content: space-around;
  display: flex;
}

.lead {
  font-family: 'Merriweather', serif;
}