<div>
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Star Wars Wikipedia</h1>
      <p class="lead">Find out all the info about any Star Wars Film!</p>

      <div class="items text-center">
        <a [routerLink]="['/films']" class="btn btn-primary">
          <i class="mr-1 fas fa-film"></i>

          Films
        </a>

        <a [routerLink]="['/people']" class="btn btn-primary">
          <i class="mr-1 fas fa-users"></i>

          People
        </a>

        <a [routerLink]="['/planets']" class="btn btn-primary">
          <i class=" mr-1 fas fa-planet-ringed"></i>
          Planets</a
        >
      </div>
    </div>
  </section>

</div>



<!-- Routing -->
<div class="pt-2" id="content">
  <router-outlet></router-outlet>
</div>
