<div class="container pt-4">
  <h1 class="text-center"><i class="fas fa-planet-ringed"></i> Planets</h1>

  <ul class="list-group" *ngFor="let planet of planets">
    <a
      [routerLink]="['/planets/details']"
      [queryParams]="{ url: planet?.url }"
      class="list-group-item list-group-item-action"
    >
      <li>
        {{ planet?.name }}
      </li>
    </a>
  </ul>

  <div class="pt-2">
    <ngb-pagination
      (pageChange)="getPlanets($event)"
      [collectionSize]="totalItems"
      [(page)]="page"
      aria-label="Default pagination"
    ></ngb-pagination>

    <!-- <pre>Current page: {{ page }}</pre> -->
  </div>
</div>
