<div class="container pt-4">
  <h1 class="text-center">
    <i class="fas fa-users"></i>
    People
  </h1>

  <ul class="list-group" *ngFor="let person of people">
    <a
      [routerLink]="['/people/details']"
      [queryParams]="{ url: person?.url }"
      class="list-group-item list-group-item-action"
    >
      <li>{{ person?.name }}</li>
    </a>
  </ul>

  <div class="pt-2">
    <ngb-pagination
      (pageChange)="getPeople($event)"
      [collectionSize]="totalItems"
      [(page)]="page"
    ></ngb-pagination>

    <!-- <pre>Current page: {{ page }}</pre> -->
  </div>
</div>
