<div class="container pt-2">
  <h1 class="text-center"><i class="fas fa-user"></i> {{ people?.name }}</h1>

  <ul class="list-group">
    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      Height
      <span>{{ people?.height }}</span>
    </li>

    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      Mass
      <span>{{ people?.mass }}</span>
    </li>

    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      Skin Color
      <span>{{ people?.skin_color }}</span>
    </li>

    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      Hair Color
      <span>{{ people?.hair_color }}</span>
    </li>

    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      Birth Year
      <span>{{ people?.birth_year }}</span>
    </li>

    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      Gender
      <span>{{ people?.gender }}</span>
    </li>

    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      Homeworld
      <span>{{ people?.homeworld }}</span>
    </li>
  </ul>
</div>
