/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Star Jedi';
  src: url('/assets/fonts/starjedi-webfont.eot');
  src: url('/assets/fonts/starjedi-webfont.woff') format('woff'),
    url('/assets/fonts/starjedi-webfont.otf') format('opentype'),
    url('/assets/fonts/starjedi-webfont.svg#filename') format('svg');
}

body,
html {
  height: 100%;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

#content {
  padding-bottom: 100px;
  /* Height of the footer element */
}

h1, h3, h5, li {
  font-family: 'Star Jedi', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

p {
font-family: 'Merriweather', serif;
}

.btn.btn-primary {
  font-family: 'Merriweather', serif;
}